/////////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Global variables ///////////////////////////////
///////////////////////////////////////////////////////////////////////////////

// —————————————————————— Colors ——————————————————————
$color-bg: #F4F4F4;

$palette-blue: #3498db;

// ——————————————————————— Geo ———————————————————————
$nav-h: 60px;